.Rproj.user
.Rprofile

# dev space
scratch*
z-scratch/*
benchmark.R
# files to ignore
*.tif
*.vrt
*.aux.xml

# But track TIF files in inst directory
!inst/**/*.tif

/.quarto/
/air.toml
/.lintr
/.vscode/
/.claude/

/example-data/*
docs
inst/doc
/doc/
/Meta/

/ml4eo-abstract/*
/big-test/*
/hex/*
/benchmarks/*