.Rproj.user

# dev space
scratch.R
scratch2.R
benchmark.R
# files to ignore
*.tif
*.vrt

# But track TIF files in inst directory
!inst/**/*.tif

/.quarto/
/air.toml
/.lintr
/.vscode/

/example-data/*
docs
